/* Slogan */
.slogan-container {
  padding: 10px;
  margin-bottom: 50px;
}

.eslogan-text {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-second-color);
  font-style: italic;
}



/* Articles  */

.article-container {
  padding: 10px;
  margin-top: 25px;
  border-top: 2px solid var(--nav-second-color);
}

.article-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.article-subtitle {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.article-title-icon {
  filter: invert(90%);
  width: 30px;
}

.article-section {
  padding: 5px;
  text-align: justify;
}

.section-subtitle {
  font-weight: bold;
}




/* Members  */


.members-section {
  padding: 10px;
  margin-top: 25px;
  border-top: 2px solid var(--nav-second-color);
}

.members-section-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.members-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.member-card {
  background-color: var(--nav-second-color);
  padding: 20px;
  border-radius: 35px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.member-card:nth-child(even) {
  flex-direction: row-reverse;
}

.member-image {
  height: 150px;
  width: 105px;
  border-radius: 15px;
  object-fit: cover;
}

.member-info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: justify;
}


@media (max-width: 767px) {
  .member-card, .member-card:nth-child(even) {
    flex-direction: column;
  }
}