@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #222222;
  --nav-color: #363636;
  --nav-second-color: #454545;
  --nav-third-color: #5e5e5e;
  --text-color: #dedede;
  --text-second-color: #999999;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html, body {
  font-size: 20px;
  color: var(--text-color);
  min-height: 100%;
  background-color: var(--background-color);
}

body {
  display: flex;
  flex-direction: column;
}

img {
  user-select: none;
}

bi {
  font-weight: bold;
  font-style: italic;
}

hi {
  font-style: italic;
  color: var(--text-second-color);
}

p {
  text-align: justify;
  text-wrap: balance;
  padding: 15px;
}