.main-container {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  line-height: 1.5;
  flex: 1;
}

.page-title {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title-item-icon {
  filter: invert(90%);
  width: 50px;
}

.iframe-container {
  background-color: var(--nav-second-color);
  border-radius: 15px;
}